//Colores
$color-body: #C9D8E6;
$color-header: darken($color-body, 15%);

//Propiedades
$sombra: 0 0 0.2rem rgba(0, 0, 0, 0.2);

body {
  background-color: $color-body;
}

h2 {
  color: #444;
}

.Header {
  background-color: $color-header;
  box-shadow: $sombra;
  &__tittle {
    font-family: lobster-two;
  }
}
