doctype html
html(lang="es")
head
  meta(charset="UTF-8")
  title Servicios
  link(rel="icon", href="favicon.png")
  link(rel="stylesheet", href="css/app.css")
body
  header.Header
    h1.Header__tittle Servicios
  main.Content
    h2 Correo electrónico
    p.
      Correo electrónico, es un servicio que permite a los usuarios enviar y recibir mensajes mediante sistemas de comunicación electrónica. Para denominar al sistema que provee este servicio en Internet, mediante el protocolo SMTP, aunque por extensión también puede verse aplicado a sistemas análogos que usen otras tecnologías. Por medio de mensajes de correo electrónico se puede enviar, no solamente texto, sino todo tipo de documentos digitales dependiendo del sistema que se use.
    h2 Almacenamiento en nube
    p.
      El almacenamiento en nube o almacenamiento en la nube, del inglés cloud storage, es un modelo de almacenamiento de datos basado en redes de computadoras, ideado en los años 1960, donde los datos están alojados en espacios de almacenamiento virtualizados, por lo general aportados por terceros.
      Las compañías de alojamiento operan enormes centros de procesamiento de datos. Los usuarios que requieren estos servicios compran, alquilano contratan la capacidad de almacenamiento necesaria. Los operadores de los centros de procesamiento de datos, a nivel servicio, virtualizan los recursos según los requerimientos del cliente. Solo exhiben los entornos con los recursos requeridos. Los clientes administran el almacenamiento y el funcionamiento de los archivos, datos o aplicaciones. Los recursos pueden estar repartidos en múltiples servidores físicos.
    h2 Streaming
    p.
      El streaming es la distribución digital de multimedia a través de una network de computadoras, de manera que el usuario consume el producto en paralelo mientras se descarga. La palabra streaming se refiere a una corriente continuada, que fluye sin interrupción.
      Este tipo de tecnología funciona mediante un búfer de datos que va almacenando lo que se va descargando en la estación del usuario para luego mostrarle el material descargado. Esto se contrapone al mecanismo de descarga de archivos, que requiere que el usuario descargue por completo los archivos para poder acceder a su contenido.
    h2 Tiempo real
    p.
      Un sistema en tiempo real es aquel sistema digital que interactúa activamente con un entorno con dinámica conocida en relación con sus entradas, salidas y restricciones temporales, para darle un correcto funcionamiento de acuerdo con los conceptos de predictibilidad, estabilidad, controlabilidad y alcanzabilidad.
    h2 Foros de discucióm
    p.
      Un foro en Internet es una aplicación web que da soporte a discusiones u opiniones en línea. Dicha aplicación suele estar organizada en categorías. Estos últimos foros son contenedores en los que se pueden abrir nuevos temas de discusión en los que los usuarios de la web responderán con sus opiniones.
  footer.Footer
